@font-face {
    font-family: myFont;
    src: url(images/PAC-FONT.TTF);
}
.container-fluid{
    width:100%;
    float: left;
}
#logopac{
    font-family: myFont;
    font-size: 20px;
    color:white;
}
#game{
   display: none; 
}
#welcome{
    display: block;
}
#front_display{
    background-color: rgb(32, 32, 33);
    color: white;
    font-family: 'Lucida Fax';
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#gameleft{
    float: left;
    list-style: none;
    width: 60%;
    /*margin: 14px 0 12px 0;*/
}
#gameright{
    float: right;
    width:32%;
}
.footer {
    position: fixed;
    margin: 0 auto;
    padding: 0 0 0 0;
    clear: both;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(images/back2.webp)repeat;
    color: white;
    text-align: left;
    text-indent: 1%;
    font-size: 13px;
    font-family: Calibri
}
#footerright {
    float: right;
    text-align: center;
    position: relative;
}
#footerleft {
    float: left;
    list-style: none;
    position: relative;
    width: 440px;
    text-indent: 2%;
}
#ftrcontact a:hover {
    text-decoration: none;
    color: #e20822;
}
#ftrcontact {
    font-family: 'source_sans_problack', "Arial Black", Gadget, sans-serif;
    font-weight: normal;
}
body{
    background: url(images/background2.webp)
}

.btn:hover {
    background-color: black;
}
.btn{
    font-family: Calibri;
    text-emphasis: #2f80eb;
}
logo{
    border: 5px solid #555555;
}
#log,#reg{
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 24px;
    color: #0a0b5c;
    text-shadow: #2f80eb;
    font-family: Calibri;
    font-weight: bold;
}
#welcomeCon {
    padding-bottom: 100px;
}
#settingsform{
    padding-bottom: 100px;
    font-size: 16px;
}
#canvas{
    padding: 10px 0 80px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    font-family: myFont;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
h4{
    font-family: Calibri;
    color: #e20822;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
#ballsnumin, #ghostsNumber, #timenumin {
    font-size: 12px;
    color: black;
    padding: 8px 5px 8px 5px;
    width:80px;
    text-align: center;
}
#keybuttonstxt{
    font-size: 16px;
    color: black;
}
#tabW, #tabL, #tabR, #tabA, #tabS{
    /*font-weight: bold;*/
    font-family: Calibri;
    font-size: 20px;
    width:200px;
}
#upkeybtn, #downkeybtn, #rightkeybtn, #leftkeybtn, #startgame, #randomButton{
    width:80px;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 14px;
}
#startgame, #randomButton{
    width:150px;
    display: inline-block;
    font-size: 20px;
}
#lblScore, #lblTime, #lblLifes{
    font-size: 16px;
    color: white;
    padding: 1px 5px 1px 5px;
    width:70px;
    text-align: center;
    background: black;
    font-weight: bold;
}
#reset{
    width:150px;
}
#music{
    padding-bottom: 100px;
    background: url(images/background2.webp)
}
#playpause{
    float: right;
}
#showSettings{
    font-family: 'Lucida Fax';
    font-size: 16px;
    text-align: left;
    float: left;
    font-weight: bold;
    color: deepskyblue;
}
h5 {
    font-family: myFont;
    color: black;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}






