@font-face {
    font-family: myFont;
    src: url(images/PAC-FONT.TTF);
}
.container-fluid{
    width:100%;
    float: left;
}
#logopac{
    font-family: myFont;
    font-size: 20px;
    color:white;
}
#game{
   display: none; 
}
#welcome{
    display: block;
}
#front_display{
    background-color: rgb(32, 32, 33);
    color: white;
    font-family: 'Lucida Fax';
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#gameleft{
    float: left;
    list-style: none;
    width: 60%;
    /*margin: 14px 0 12px 0;*/
}
#gameright{
    float: right;
    width:32%;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.Site-content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    margin: 0 auto;
    padding: 0 0 0 0;
    clear: both;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(images/back2.webp)repeat;
    color: white;
    text-align: left;
    text-indent: 1%;
    font-size: 15px;
    font-family: Calibri
}
#footerright {
    float: right;
    text-align: center;
    position: relative;
}
#footerleft {
    float: left;
    list-style: none;
    position: relative;
    width: 440px;
    text-indent: 2%;
}
#ftrcontact a:hover {
    text-decoration: none;
    color: #e20822;
}
#ftrcontact {
    font-family: 'source_sans_problack', "Arial Black", Gadget, sans-serif;
    font-weight: normal;
}
body{
    background: url(images/background2.webp)
}

.btn:hover {
    background-color: black;
}
.btn{
    font-family: Calibri;
    text-emphasis: #2f80eb;
}
logo{
    border: 5px solid #555555;
}
#log,#reg{
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 24px;
    color: #0a0b5c;
    text-shadow: #2f80eb;
    font-family: Calibri;
    font-weight: bold;
}
#welcomeCon {
    padding-bottom: 10px;
}
#settingsform{
    padding-bottom: 10px;
    font-size: 16px;
}
#canvas{
    padding: 10px 0 70px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    font-family: myFont;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
h4{
    font-family: Calibri;
    color: #e20822;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
#ballsnumin, #ghostsNumber, #timenumin {
    font-size: 12px;
    color: black;
    padding: 8px 5px 8px 5px;
    width:80px;
    text-align: center;
}
#keybuttonstxt{
    font-size: 16px;
    color: black;
}
#tabW, #tabL, #tabR, #tabA, #tabS{
    /*font-weight: bold;*/
    font-family: Calibri;
    font-size: 20px;
    width:200px;
}
#upkeybtn, #downkeybtn, #rightkeybtn, #leftkeybtn, #startgame, #randomButton{
    width:80px;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 14px;
}
#startgame, #randomButton{
    width:150px;
    display: inline-block;
    font-size: 20px;
}
#lblScore, #lblTime, #lblLifes{
    font-size: 16px;
    color: white;
    padding: 1px 5px 1px 5px;
    width:70px;
    text-align: center;
    background: black;
    font-weight: bold;
}
#reset, #pause{
    padding: 5px 5px;
    margin: 3px 0;
    display:inline-block;
    width:120px;
    text-align: center;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}
#music{
    padding-bottom: 100px;
    background: url(images/background2.webp)
}
#playpause{
    float: right;
}
#showSettings{
    font-family: "TwCen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    float: left;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}
h5 {
    font-family: myFont;
    color: black;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}
#alertgame{
    display: none;
    position: fixed;
    max-width: 25%;
    min-width: 250px !important;
    min-height: 20%;
    height: 300px;
    width: 600px;
    left: 50%;
    top: 40%;
    padding: 1px;
    box-sizing: border-box;
    margin-left: -12.5%;
    margin-top: -5.2%;
    background-image: url(images/gif2.gif);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}
#msggame{
    padding-top: 10px;
    color: black;
    font-size: 30px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Calibri;
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#okalertgame {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: #5cdaf8;
    color: white;
}
#okalertgame:hover{
     transition: 0.3s;
     cursor: pointer;
     background: crimson;
 }


body{
    min-width: 768px;
    min-height: 1366px;
}



