#game{
   display: none; 
}

#welcome{
    display: block;
}
#front_display{
    background-color: rgb(193, 201, 213);
    color: black;
    font-family: 'Lucida Fax';
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}


